models/
# 1) ignore absolutely everything under /data
/data/**

# 2) but do NOT ignore any directory in there
!/data/**/

# 3) and finally, re-include your placeholders
!/data/**/*.gitkeep
*.log
*.db
*.csv
__pycache__/
deploy/deploy/confs_test.txt
deploy/deploy/confs_train.txt
deploy/deploy/confs_val.txt
deploy/deploy/labels_test.txt
deploy/deploy/labels_train.txt
deploy/deploy/labels_val.txt
deploy/deploy/sasaa.txt
reports/figures/
deploy/rpi/deploy/*.txt
deploy/rpi/deploy/*.png
deploy/st/deploy/confs_test.txt
deploy/st/deploy/confs_train.txt
deploy/st/deploy/confs_val.txt
deploy/st/deploy/labels_idid.txt
deploy/st/deploy/labels_test.txt
deploy/st/deploy/labels_train.txt
deploy/st/deploy/labels_val.txt
deploy/st/deploy/sasaa.txt

hi4lines_insp/mlruns/
deploy/st/deploy/*.png
deploy/st/deploy/*.csv
deploy/st/deploy/*.txt
deploy/st/deploy/*.onnx
deploy/st/deploy/*.ONNX
hi4lines_insp/*.png

configs/*.yaml
deploy/rpi/deploy/MOBILENET_AGAIN/
#deploy/rpi/deploy/mixed_plot.py
deploy/rpi/deploy/hailo_mobilenet/
