models/
data/
*.log
*.csv
__pycache__/
deploy/deploy/confs_test.txt
deploy/deploy/confs_train.txt
deploy/deploy/confs_val.txt
deploy/deploy/labels_test.txt
deploy/deploy/labels_train.txt
deploy/deploy/labels_val.txt
deploy/deploy/sasaa.txt
reports/figures/
!*.gitkeep
